---
title: Voorbeeldpagina
permalink: /voorbeeld/index.html
---
<!doctype html>
<html lang="nl">
<head><meta charset="utf-8"><title>Voorbeeld</title></head>
<body>
  {% include "kalender-en-groepen.njk" %}
</body>
</html>